{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/suggestions.css') }}" type="text/css">
{% endblock %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}
    <br><br><br>
<div class="container">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-1">
            <img class="logo" src="img/logo12.jpg" alt="">
        </div>
        <div class="col-10">

            <h1>Voici les personnes près de chez vous </h1>
            <h1>qui partagent vos goûts cinématographiques!</h1>
            <hr>
            <h2>Vous pouvez :</h2>
            <h3>Visiter leur profil, et peut-être ensuite leur proposer d'être votre ami sur ce site.</h3>
            <h3>Ou directement leur envoyer un mail pour leur proposer une séance!</h3>
            <h1>Bon film !</h1>
            <hr>

            <!--          Container des 3 cartes pour traitement Ajax          -->

            <div class="row liste container">
                    {% for suggestion in suggestions %}
                        <div class="card" style="width: 18rem;">
                            <img src="../img/placeholder.jpg" class="card-img-top" alt="...">
                            {#<img src="{{ asset('../img/placeholder.jpg') }}" alt="">#}
                            <div class="card-body">
                                <tr>
                                    <h5 class="card-title">{{ suggestion.pseudo }}</h5>
                                </tr>
                                <tr>
                                    <h5 class="card-title">{{ suggestion.ville.nom }}</h5>
                                </tr>
                                <tr>
                                    <h5 class="card-title">{{ suggestion.genre.type }}</h5>
                                </tr>
                                <tr>
                                    <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                                </tr>
                                <tr>
                                    <a href="#" class="btn btn-dark">Voir le profil</a>
                                </tr>
                                <hr>
                                <tr>
                                    <a href="#" class="btn btn-dark">Envoyer un mail: {{ suggestion.email }}</a>
                                </tr>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
        <form method="post">
            <button type="submit" class="btn btn-primary mb-2">Voir plus de résultats</button>
        </form>
    </div>
    {% endblock %}