{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">
    <link rel="stylesheet" href="{{ asset('css/suggestions.css') }}" type="text/css">
    <script src="{{ asset('js/plus_suggestions.js') }}"></script>
{% endblock %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}

    <div class="container">



            <div>
                <h1>Voici les personnes près de chez vous </h1>
                <h1>qui partagent vos goûts cinématographiques!</h1>
                <hr>
                <h3>Vous pouvez :</h3>
                <h4>Visiter leur profil, et peut-être ensuite leur proposer d'être votre ami sur ce site.</h4>
                <h4>Ou directement leur envoyer un mail pour leur proposer une séance!</h4>
                <h2>Bon film !</h2>
            </div>

            <!--          Container des 3 cartes pour traitement Ajax          -->
            <div>
                <div id="cartes_row">
                    <div class="row liste container">
                        {% for suggestion in suggestions %}
                            <div class="card" style="width: 18rem;">
                                <img src="../img/placeholder.jpg" class="card-img-top" alt="...">
{#
                                <img src="{{ asset('img/placeholder.jpg') }}" alt="">
#}
                                <div class="card-body">
                                    <tr>
                                        <h5 class="card-title">{{ suggestion.pseudo }}</h5>
                                    </tr>
                                    <tr>
                                        <h5 class="card-title">{{ suggestion.ville.nom }}</h5>
                                    </tr>
                                    <tr>
                                        <h5 class="card-title">{{ suggestion.genre.type }}</h5>
                                    </tr>
                                    <tr>
                                        <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                                    </tr>
                                    <tr>
                                        <a href="#" class="btn btn-dark">Voir le profil</a>
                                    </tr>
                                    <hr>
                                    <tr>
                                        <a href="#" class="btn btn-dark">Envoyer un mail: {{ suggestion.email }}</a>
                                    </tr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <h2>Voulez-vous voir plus de résultats ?</h2> <br>
            <div>
                <form id="plus" method="get">
                    <a type="button" id="load" class="btn btn-dark mb-2 href="{{ path('app_suggestion_plusdesuggestions') }}" >
                    Voir plus de résultats ! </a>
                </form>
            </div>

    </div>
{% endblock %}
