{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">
    <link rel="stylesheet" href="{{ asset('css/suggestions.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plus_suggestions.js') }}"></script>
{% endblock %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="centrez flexy mt">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="voici">Voici les personnes près de chez vous qui partagent vos goûts cinématographiques! Vous pouvez :
                    visiter leur profil, et peut-être ensuite leur proposer d'être votre ami sur ce site,
                    ou directement leur envoyer un mail pour leur proposer une séance, <span class="bonfilm">Bon film!</span>
                </p>
            </div>


        </div>
        <hr>

        <div class="col-12">
            <!--          Container des 3 cartes pour traitement Ajax          -->
            <div id="cartes_row">
                <div class="row liste">
                    {% for suggestion in suggestions %}
                        <div class="card centrez" style="width: 18rem;">
                            {% if suggestion.image is not null %}
                                <img class="card-img-top" src="{{ asset('images/' ~ suggestion.image) }}">

                                <!-------- Si pas d'image placeholder par défault: -------->
                            {% else %}
                                <img class="img-thumbnail" src="{{ asset('img/placeholder2_25_1.jpg') }}" alt="">

                            {% endif %}
                            <div class="card-body">
                                <tr>
                                    <h5 class="card-text">{{ suggestion.pseudo }}</h5>
                                </tr>
                                <tr>
                                    <span class="card-text">{{ suggestion.ville.nom }}</span> <br>
                                </tr>
                                <tr>
                                    <span class="card-text">{{ suggestion.genre.type }}</span>
                                </tr>
                                <tr>
                                    <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                                </tr>
                                <tr>
                                    <a href="{{ path('app_suggestion_profilsuggestion', {'id': suggestion.id}) }}}"
                                       class="btn btn-dark">Voir le profil</a>
                                </tr>
                                <br>
                                <tr>
                                    <a href="#" class="btn btn-dark mailbtn">Envoyez un mail: {{ suggestion.email }}</a>
                                </tr>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="liste">
            <div>
                <span class="voici">Voulez-vous voir d'autres personnes ?</span>
                <form id="plus" method="get">
                    <a type="button" id="load" class="btn btn-dark mb-2
            href="{{ path('app_suggestion_plusdesuggestions') }}" >
                    Voir plus de résultats !
                    </a>
                </form>
            </div>
            <div>
                <span class="voici">Voulez-vous voir votre profil?</span> <br>
                <a type="button" class="btn btn-dark mb-2" href="{{ path('app_profil_index') }}"> Voir mon profil !</a>
            </div>
        </div>

    </div>
{% endblock %}
