{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block title %}Suggestion profil{% endblock %}

{% block body %}


<div class="container-fluid">

    <!-------- Titre profil -------->
    <div class="row">
        <div class="col text-center mb-5 mt-5">
            <h1>Profil de {{ profilsuggestion.pseudo }}</h1>
        </div>
    </div>

    <!-------- Début carte profil -------->
    <div class="row justify-content-center">
        <div class="col-xs ">
            <div class="row border border-dark rounded ml-5 mr-5 d-flex justify-content-center" id="profil">
                <div class="col-xs">
                    <div class="row justify-content-center">

                        <!-------- Col gauche -------->
                        <div class="col-xs ml-5 mt-5 mr-5 mb-5">

                            <!-------- Si image modifiée: -------->
                            {% if profilsuggestion.image is not null %}
                                <img class="img-thumbnail" src="{{ asset('images/' ~ profilsuggestion.image) }}">

                                <!-------- Si pas d'image placeholder par défault: -------->
                            {% else %}
                                <img class="img-thumbnail" src="{{ asset('img/placeholder_3.png') }}" alt="">

                            {% endif %}
                        </div>

                        <!-------- Col Droite -------->
                        <div class="col-xs ml-5 mt-5 mr-5 mb-5" id="droite">
                            <div class="col text-center mb-4 p-1" ><h2>{{ profilsuggestion.pseudo }}</h2></div>
                            <div class="col p-1">Ville <span class="txt">:</span> {{ profilsuggestion.ville.nom }}</div>

                            <!-------- L'âge renseigné ou non -------->
                            <div class="col p-1">
                                {% if profilsuggestion.age is not null %}
                                    Age <span class="txt">:</span>{{ profilsuggestion.age }}
                                {% else %}
                                    Age <span class="txt">:</span> Non renseigné
                                {% endif %}
                            </div>

                            <!-------- Sexe renseigné ou non -------->
                            <div class="col p-1">
                                {% if profilsuggestion.sexe is not null %}
                                    Sexe <span class="txt">:</span> {{ profilsuggestion.sexe }}
                                {% else %}
                                    Sexe <span class="txt">:</span> Non renseigné
                                {% endif %}</div>
                            <div class="col p-1"> Email <span class="txt">:</span> {{ profilsuggestion.email }}</div>
                            <br>
                            <div class="col p-1" id="genre">Genre de films préféré <span class="txt">:</span> {{ profilsuggestion.genre.type }}</div>
                        </div>
                    </div>


                    <!-------- A propos si modifié ou non -------->
                    {% if profilsuggestion.info is not null %}
                        <hr>
                        <div class="row w100">
                            <div class="col text-center ml-3 mr-3 mt-2" id="apropos">
                                <h4> A propos :</h4> <br>
                                <div class="row justify-content-center">
                                    <div class="col-8 mb-3">
                                        {{ profilsuggestion.info|nl2br }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

    {% endblock %}