{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">

{% endblock %}

{% block title %} Profil suggestion {% endblock %}



{% block body %}

    <img class="img-thumbnail" src="{{ asset('img/placeholder2_25.jpg') }}" alt="">



        <h5>Pseudo : {{ profilsuggestion.pseudo }} </h5>
        <h5>Email: {{ profilsuggestion.pseudo }}</h5>
        <h5>Ville : {{ profilsuggestion.ville.nom }}</h5>
        <h5>Genre : {{ profilsuggestion.genre.type }}</h5>







{% endblock %}
