{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="police">FILMAMI</h1>
    <div class="main">

        <div class="tableau col-md-12">
            <h1>Gestion des Genres de Film</h1>

            {{ form_start(form) }}

            {{ form_row(form.type) }}
            <hr>
            <button class="btn btn-dark" type="submit">Validez</button>
            <hr>

            {{ form_end(form) }}

            <table class="table table-striped">
                <tr class="table-dark">
                    <th>Genres</th>
                    <th width="300px">Action</th>
                </tr>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.type }}</td>
                        <td>
                            <a class="btn btn-dark" href="{{ path('app_admin_genre_index', {'id': genre.id}) }}">Modifier</a>
                            <a href="{{ path('app_admin_genre_efface', {'id': genre.id}) }}"
                               class="btn btn-dark btn-delete">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="presidente">
            <img src="{{ asset('img/presidente40.jpg') }}" alt="">
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Etes-vous sûr de vouloir supprimer ce genre de film?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-confirm-delete" data-dismiss="modal">Oui</button>
                    <button type="button" class="btn btn-primary btn-no-delete">Non</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">
    <link rel="stylesheet" href="{{ asset('css/genre.css') }}" type="text/css">
    <script src="{{ asset('js/admin_genre.js') }}"></script>
{% endblock %}