{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="titreprofil">
                <h1>Mon profil</h1>
            </div>
        </div>

        <!-------- Fiche profil -------->
<div class="row">
        <div class="col" id="profil">
            <div class="float-left"><img class="img-thumbnail" src="{{ asset('img/placeholder_3.png') }}" alt=""></div>
            <div class="col-11 p-1"> <h2>{{ profil.pseudo }}</h2></div>
            <br>

<div class="texteprofil">
{#    <div class="col-11 p-1">ID : {{ profil.id }}</div>#}
    <div class="col-11 p-1">Ville: {{ profil.ville.nom }}</div>
    <div class="col-11 p-1">Age : 26 ans </div>
    <div class="col-11 p-1">Profession : infirmière</div>
    <div class="col-11 p-1"> Email : {{ profil.email }}</div>
    <br>
    <div class="col p-1" id="genre">Genre de films préféré : {{ profil.genre.type }}</div>
</div>
            <br>
            <hr>

<div class="row">
    <div class="col" id="apropos">
        <h3> A propos :</h3>
        <p>Passioné par le cinéma depuis mon plus jeune âge, je serai ravi qu'on partage nos avis cinématographiques ! Je préfère les documentaires, mais j'aime aussi les films d'action et de fiction.
            N'hésites pas à m'ajouter !</p>

        <div class="row">
            <a type="button" href="{{ path('app_profil_edit') }}"
               class="btn" id="modifier">
                Modifier votre profil
            </a>
    </div>
</div>
        </div>
    </div>

        </div>



    </div>
    <!-------- Fin container fluid -------->

    {#
            <div class="col-3">
                <h1>Mes amis :</h1>
                <hr>
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/placeholder.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Elsa</h5>
                        <h5 class="card-title">Paris</h5>
                        <h5 class="card-title">Drame</h5>
                        <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                        <a href="#" class="btn btn-dark">Voir le profil</a>
                        <hr>
                        <a href="#" class="btn btn-dark">Envoyer un mail</a>
                    </div>
                </div>

            </div>
    #}

{% endblock %}