{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <br><br>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-1">
            <img class="logo" src="{{ asset('img/logo12.jpg') }}" alt="">
        </div>
        <div class="col-3">
            <img class="img-thumbnail" src="{{ asset('img/placeholder.jpg') }}" alt="">
        </div>
        <div class="col-3 fiche">
            ID : {{ profil.id }} <br>
            Pseudo : {{ profil.pseudo }} <br>
            Email : {{ profil.email }} <br>
            Ville: {{ profil.ville.nom }} <br>
            Genre de films préféré : {{ profil.genre.type }}

            <hr>
            Age : 26 ans <--en dure <br>
            Profession : infirmière <--en dure <br>
            A propos de moi : ABC <--en dure <br>
        </div>
{#
        <div class="col-3">
            <h1>Mes amis :</h1>
            <hr>
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/placeholder.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elsa</h5>
                    <h5 class="card-title">Paris</h5>
                    <h5 class="card-title">Drame</h5>
                    <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                    <a href="#" class="btn btn-dark">Voir le profil</a>
                    <hr>
                    <a href="#" class="btn btn-dark">Envoyer un mail</a>
                </div>
            </div>

        </div>
#}
    </div>


{#    Fin container fluid#}
</div>
{% endblock %}