{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <!-------- Titre profil -------->
      <div class="row">
          <div class="col text-center mb-5 mt-5">
              <h1>Mon profil</h1>
          </div>
      </div>

        <!-------- Carte profil -------->

            <div class="row d-flex justify-content-center" >

                <!-------- Col carte profil -------->
                <div class="col-xs">
                    <div class="rowborder mt-1 ml-5 mr-5 border-dark rounded d-flex justify-content-center" id="profil">
                        <div class="col text-center mt-5">
                            <h2>{{ profil.pseudo }}</h2>
                        <div class="row">
<div class="col text-left">
    <div class="row">
                <!-------- Col gauche -------->
                <div class="col-xs ml-5 mt-5 mr-5 mb-5"  >
                    {% if profil.image is not null %}
                        <img class="img-thumbnail" src="{{ asset('images/' ~ profil.image) }}">

                    {% else %}
                        <img class="img-thumbnail" src="{{ asset('img/placeholder_3.png') }}" alt="">

                    {% endif %}
                </div>

            <!-------- Col Droite -------->
            <div class="col-xs ml-5 mt-5 mr-5" id="droite">
                    <div class="col p-1">Ville : &nbsp {{ profil.ville.nom }}</div>
                    <div class="col p-1">
                        <!-------- L'âge soit renseigné ou non -------->
                        {% if profil.info is not null %}
                            Age &nbsp: &nbsp {{ profil.age }}
                        {% else %}
                            Age &nbsp: &nbsp Non renseigné
                        {% endif %}
                        </div>
                    <div class="col p-1">
                        <!-------- Sexe soit renseigné ou non -------->
                        {% if profil.info is not null %}
                            Sexe &nbsp: &nbsp {{ profil.sexe }}
                        {% else %}
                            Sexe &nbsp: &nbsp Non renseigné
                        {% endif %}</div>
                    <div class="col p-1"> Email &nbsp: &nbsp {{ profil.email }}</div>
                    <br>
                    <div class="col mb-1 p-1" id="genre">Genre de films préféré : {{ profil.genre.type }}</div>

                <!-------- A propos est visible que si remplie -------->

                {% if profil.info is not null %}

                    <div class="row">
                        <div class="col xs text-center ml-3 mr-3" id="apropos">
                            <div class="profilinfo">
                            <br>
                            <div class="col-3 mb-3"><h4> A propos :</h4>
                                {{ profil.info }}
                            </div>
                        </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
                <br>
            </div>
</div>


                        <!-------- Fin profil -------->
                    </div>
            </div>
                        </div>
                    </div>
                    <!-------- Bouton modifier profil -------->
                    <div class="row justify-content-center">
                        <div class="col-xs text-center">
                        <a type="button" href="{{ path('app_profil_edit') }}"
                           class="btn btn-dark mt-5 mb-5 col d-flex justify-content-center" id="modifier1">
                            Modifier votre profil
                        </a>
                    </div>
                    </div>
                </div>
            </div>

        <!-------- Fin container fluid -------->
    </div>

{% endblock %}