{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">

{#        <!-------- Image logo -------->#}
{#        <div class="col-1">#}
{#            <img class="logo" src="{{ asset('img/logo12.jpg') }}" alt="">#}
{#        </div>#}

        <!-------- Image profil -------->


        <!-------- Fiche profil -------->
        <div class="col" id="profil">
            <div class="float-left"><img class="img-thumbnail" src="{{ asset('img/placeholder2.png') }}" alt=""></div>
<div class="texteprofil">
{#    <div class="col-11 p-1">ID : {{ profil.id }}</div>#}
    <div class="col-11 p-1">Pseudo : {{ profil.pseudo }}</div>
    <div class="col-11 p-1"> Email : {{ profil.email }}</div>
    <div class="col-11 p-1">Ville: {{ profil.ville.nom }}</div>
    <div class="col-11 p-1">Genre de films préféré : {{ profil.genre.type }}</div>
    <hr>
    <div class="col-11 p-1">Age : 26 ans <--en dure </div>
    <div class="col-11 p-1">Profession : infirmière <--en dure</div>
    <div class="col-11 p-1">A propos de moi : ABC <--en dure</div>
        </div>
{#
        <div class="col-3">
            <h1>Mes amis :</h1>
            <hr>
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/placeholder.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elsa</h5>
                    <h5 class="card-title">Paris</h5>
                    <h5 class="card-title">Drame</h5>
                    <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                    <a href="#" class="btn btn-dark">Voir le profil</a>
                    <hr>
                    <a href="#" class="btn btn-dark">Envoyer un mail</a>
                </div>
            </div>

        </div>
#}
    </div>

        <!-------- Fin container fluid -------->
    </div>
{% endblock %}