{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
    <div class="main">
        <div class="col-md-12">

            <h1 class="mt">Gestion des Villes</h1>

            {{ form_start(form) }}

            {{ form_row(form.nom) }}
            <hr>
            <button class="btn btn-dark" title="Ajouter cette nouvelle ville à la liste des villes" type="submit">Valider</button>
            <hr>
            {{ form_end(form) }}

            <table class="table table-striped">
                <tr class="table-dark">
                    <th>Villes</th>
                    <th width="300px">Action</th>
                </tr>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>
                            <a class="btn btn-dark" title="Modifier l'orthographe de cette ville" href="{{ path('app_admin_ville_index', {'id': ville.id}) }}">Modifier</a>
                            <a href="{{ path('app_admin_ville_efface', {'id': ville.id}) }}"
                               class="btn btn-dark btn-delete" title="Supprimer cette ville">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Etes-vous sûr de vouloir supprimer cette ville?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-confirm-delete" data-dismiss="modal">Oui</button>
                    <button type="button" class="btn btn-primary btn-no-delete">Non</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ville.css') }}" type="text/css">
    <script src="{{ asset('js/admin_ville.js') }}"></script>
{% endblock %}