{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}

    <h1>Formulaire d'inscription</h1>

    {{ form_start(form) }}

    {{ form_row(form.pseudo) }}
    {{ form_row(form.email) }}
    {{ form_row(form.mdp) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.genre) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}

{% endblock %}
