{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}

    {# FORMULAIRE D'INSCRIPTION #}
    <h1>Formulaire d'inscription</h1>

    {{ form_start(form) }}

    {{ form_row(form.pseudo) }}
    {{ form_row(form.email) }}
    {{ form_row(form.mdpClair) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.genre) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}

    {#  FIN FORMULAIRE D'INSCRIPTION #}

    {# FORMULAIRE DE CONNEXION #}
    {{ form_start(connexionform) }}

    {{ form_row(connexionform.pseudo) }}
    {{ form_row(connexionform.mdpClair) }}

    <button type="submit">Envoyer</button>

    {{ form_end(connexionform) }}
    {#  FIN FORMULAIRE DE CONNEXION #}



{% endblock %}
