
{% block stylesheets %}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('css/filmami_commun.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/suggestions.css') }}" type="text/css">
{% endblock %}

<div class="row liste container">
    {% for suggestion in suggestions %}
        <div class="card centrez" style="width: 18rem;">
            {% if suggestion.image is not null %}
                <img class="card-img-top" src="{{ asset('images/' ~ suggestion.image) }}">

                <!-------- Si pas d'image placeholder par défault: -------->
            {% else %}
                <img class="card-img-top" src="{{ asset('img/placeholder2_25_1.jpg') }}" alt="image alternative de profil">

            {% endif %}
            <div class="card-body">
                <tr>
                    <h5 class="card-title">{{ suggestion.pseudo }}</h5>
                </tr>
                <tr>
                    <span class="card-title">{{ suggestion.ville.nom }}</span> <br>
                </tr>
                <tr>
                    <span class="card-title">{{ suggestion.genre.type }}</span>
                </tr>
                <tr>
                    <p class="card-text">{{ suggestion.info }}</p>
                </tr>
                <tr>
                    <a href="#" title="Visiter le profil de cette personne" class="btn btn-dark">Voir le profil</a>
                </tr>
                <tr>
                    <a href="#" title="Envoyer un message à cette personne" class="btn btn-dark mailbtn">Envoyez un mail: {{ suggestion.email }}</a>
                </tr>
            </div>
        </div>
    {% endfor %}
</div>
