<div class="row liste container">
    {% for suggestion in suggestions %}
        <div class="card" style="width: 18rem;">
            <img src="../img/placeholder.jpg" class="card-img-top" alt="...">
            {#<img src="{{ asset('../img/placeholder.jpg') }}" alt="">#}
            <div class="card-body">
                <tr>
                    <h5 class="card-title">{{ suggestion.pseudo }}</h5>
                </tr>
                <tr>
                    <h5 class="card-title">{{ suggestion.ville.nom }}</h5>
                </tr>
                <tr>
                    <h5 class="card-title">{{ suggestion.genre.type }}</h5>
                </tr>
                <tr>
                    <p class="card-text">Ici la zone de cours texte du champ "A propos"</p>
                </tr>
                <tr>
                    <a href="#" class="btn btn-dark">Voir le profil</a>
                </tr>
                <hr>
                <tr>
                    <a href="#" class="btn btn-dark">Envoyer un mail: {{ suggestion.email }}</a>
                </tr>
            </div>
        </div>
    {% endfor %}
</div>
